<style>
	.jg-grid{
		background-color: rgb(220, 57, 18);
	}
	.jg-grid > div{
		background-color: rgb(51, 102, 204);
	}
</style>

<div class="jg-grid row" ><div class="col-xs-1">col-xs-1</div></div>
<div class="jg-grid row" ><div class="col-xs-2">col-xs-2</div></div>
<div class="jg-grid row" ><div class="col-xs-3">col-xs-3</div></div>
<div class="jg-grid row" ><div class="col-xs-4">col-xs-4</div></div>
<div class="jg-grid row" ><div class="col-xs-5">col-xs-5</div></div>
<div class="jg-grid row" ><div class="col-xs-6">col-xs-6</div></div>
<div class="jg-grid row" ><div class="col-xs-7">col-xs-7</div></div>
<div class="jg-grid row" ><div class="col-xs-8">col-xs-8</div></div>
<div class="jg-grid row" ><div class="col-xs-9">col-xs-9</div></div>
<div class="jg-grid row" ><div class="col-xs-10">col-xs-10</div></div>
<div class="jg-grid row" ><div class="col-xs-11">col-xs-11</div></div>
<div class="jg-grid row" ><div class="col-xs-12">col-xs-12</div></div>
