<div class="jgc-card" ng-transclude ></div>

<jgc-card>
	<div class="card-header">header</div>
	<div class="card-section">
		Lonsectetur adipisicing elit. Deleniti dolor, nemo ea possimus enim. Nesciunt ad odio quos asperiores sapiente.
	</div>
	<div class="card-footer">footer</div>
</jgc-card>

<div class="jgc-card">
	<div class="card-header">header</div>
	<div class="card-section">
		Lonsectetur adipisicing elit. Deleniti dolor, nemo ea possimus enim. Nesciunt ad odio quos asperiores sapiente.
	</div>
	<div class="card-footer">footer</div>
</div>