@import "mixins";

.jgc-tool-bar {
	padding: $panel-heading-padding;
	border-bottom: 1px solid transparent;

	.title-tool-bar {
		margin-top: 0;
		margin-bottom: 0;
		font-size: ceil(($font-size-base * 1.125));
		color: inherit;

		> a,
		> small,
		> .small,
		> small > a,
		> .small > a {
			color: inherit;
		}

	}

	.btn-tool-bar,
	.title-tool-bar {
		float: left;
	}

	.title-tool-bar {
		vertical-align: middle;
		touch-action: manipulation;
		padding: $padding-base-vertical $padding-base-horizontal;
	}

	.btn{
		border-radius: 0;
		font-size: ceil(($font-size-base * 0.8));
	}


	// Contextual variations
	&.default {
	  @include jgc-tool-bar-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
	  .btn{
	  	@include button-variant-min($btn-default-color, $btn-default-bg, $btn-default-border);
	  }
	}
	&.primary {
	  @include jgc-tool-bar-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
	  .btn{
	  	@include button-variant-min($btn-primary-color, $btn-primary-bg, $btn-primary-border);
	  }
	}
	//.panel-success {
	//  @include jgc-tool-bar-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
	//}
	//.panel-info {
	//  @include jgc-tool-bar-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
	//}
	//.panel-warning {
	//  @include jgc-tool-bar-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
	//}
	//.panel-danger {
	//  @include jgc-tool-bar-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
	//}

}



